


header p{
display: block;
font-size: 20px;

}


header p, header nav
{
display: inline-block;
vertical-align;

}

header nav ul
{
list-style: none;
}

nav ul li a
{
	color:black;
	text-decoration: none;
}


header p
{
	margin-left: 50px;
}

main section article header img
{
text-align: center;
}

main section article header p
{
text-align: ce
}

nav ul li
{
display: inline-block;
margin-right: 50px;
}